// load includes
@import "includes/reset";
@import "includes/fonts";
@import "includes/variables";
@import "includes/mixins";
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/containers";
@import "node_modules/bootstrap/scss/grid";
@import "lib/slick";
@import "lib/slick-theme";
@import "includes/typography";
@import "includes/forms";
@import "includes/general";
// load partials
@import "partials/*";