// bootstrap related
$container-max-widths: (
  xl: 940px,
) !default;
$grid-breakpoints: (
  xs: 0,
  sm: 540px,
  md: 769px,
  lg: 1024px,
  xl: 1284px,
  xxl: 1700px,
) !default;
$grid-gutter-width: 30px;
// colors
$white: #fff;
$black: #000;
$sunny-yellow: #fff917;
$blood-red: #980002;
$cement: #a5a391;
$pencil-blue: #2200ff;
$dark-blue: #316099;
$dark-blue-2: #1f3f68;
$primary-color: $dark-blue-2;
$secondary-color: $sunny-yellow;
$primary-text-color: $black;
$secondary-text-color: $white;
$header-color: $dark-blue;
// fonts
$primary-font: "Roboto", sans-serif;
$secondary-font: "MyWebFont", sans-serif;
// sizes
$container-header-max-width: 1133px;
/*
use these variables when bootstrap is not imported
$container: 1200px;
$container-laptop: 1000px;
$container-tablet: 750px;
$laptop-max: 1367px;
$tablet-max: 1024px;
$phone-max: 768px;
$phone-small-max: 320px;
*/
