header.website-header {
  font-size: 20px;
  color: $header-color;
  max-width: $container-header-max-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 70px;
  .theme-switcher {
    position: relative;
    &::after {
      position: absolute;
      top: -50%;
      left: 50%;
      transform: translate(-50%, 30%);
      content: "";
      width: 32px;
      height: 25px;
      border: 1px solid $header-color;
      border-radius: 20px;
      z-index: -1;
      background-color: white;
    }
    &::before {
      position: absolute;
      top: -50%;
      left: 0%;
      transform: translate(-70%, 23%);
      content: "";
      width: 34px;
      height: 27px;
      background-color: $header-color;
      border: 1px solid white;
      border-radius: 20px;
      z-index: -1;
    }
  }
  .hamburger-menu {
    background-color: $header-color;
    width: 16px;
    height: 3px;
    position: relative;
    &::after {
      content: "";
      background-color: inherit;
      width: inherit;
      height: inherit;
      position: absolute;
      top: 5px;
      left: 0;
    }
    &::before {
        content: "";
        background-color: inherit;
        width: inherit;
        height: inherit;
        position: absolute;
        bottom: 5px;
        left: 0;
      }
  }
}
