.section-hero {
  background-image: url("../../assets/img/hero.png");
  text-align: center;
  color: $secondary-text-color;
  padding: 50px 0;
  margin-bottom: 50px;
p{
    font-size: 20px;
    opacity: 40%;
}
}
